.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.4);
}
form{
  position: relative;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 35%;
  border: 1px solid #888;
  
}

.close {
  color: #aaa;
  position: absolute;
  margin-left: 30%;
 
  
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
